*.pyc
__pycache__/
.vscode/
/venv/
/script/.idea/*
*.log
*.mk
*.o
*.index
*.su
*.list
cadime_bringup/stm32f401/cadimeMCU2/.cproject
cadime_bringup/stm32f401/cadimeMCU2/Debug/*
cadime_bringup/stm32f401/cadimeMCU2/Release/*
*.prefs
*.elf
*.map
*.cyclo
cadime_bringup/stm32f401/.metadata/.lock
cadime_bringup/stm32f401/cadimeMCU2/Debug/objects.list
cadime_client/src/cadime_client/config.json
cadime_bringup/stm32f407/cadime_f407/.settings/language.settings.xml
cadime_bringup/stm32f407_pcb/cadime_f407/.settings/language.settings.xml
cadime_bringup/stm32f407/cadime_f407/.settings/language.settings.xml
cadime_bringup/stm32f407/cadime_f407/.settings/language.settings.xml
cadime_bringup/stm32f407/cadime_f407/.settings/language.settings.xml
/cadime_zb/c_package/gps_tag/build
/cadime_zb/c_package/modele/receiver/build
/cadime_zb/c_package/modele/gps_tag/build
/cadime_zb/c_package/modele/gps_tag/managed_components
/cadime_zb/c_package/modele/receiver/managed_components
/cadime_zb/c_package/modele_h2/gps_tag/build
/cadime_zb/c_package/modele_h2/receiver/build
/cadime_zb/c_package/modele_h2/gps_tag/managed_components
/cadime_zb/c_package/modele_h2/receiver/managed_components
cadime_camera/clip/*
/cadime_zb/c_package/modele/gps_tag_qfn32/build
/cadime_zb/c_package/modele/gps_tag_qfn32/managed_components
/cadime_zb/c_package/modele/receiver_qfn32/build/bootloader
/cadime_zb/c_package/modele/receiver_qfn32/build
/cadime_zb/c_package/modele/receiver_qfn32/managed_components
/cadime_zb/c_package/modele_h2/gps_tag_c++/build
/cadime_zb/c_package/modele_h2/gps_tag_540/build
/cadime_zb/c_package/modele_h2/gps_tag_540_sleep/build
/cadime_zb/c_package/modele/receiver_qfn32_20250304_voltage/build
/cadime_zb/c_package/modele_h2/gps_tag_540_20250304_voltage/build
/cadime_zb/c_package/modele_h2/gps_tag_540_20250331_poweroff/build
